<header class="header">
  <nav>
    <div class="header-home-div">
      <p><em>Hello, <%= "#{current_user.first_name}!" %></em></p>
    </div>
    <ul>
      <li><%= link_to "Portfolio", trader_portfolios_path %></li>
      <li><%= link_to "Buy/Sell", trader_transactions_path %></li>
      <li class="header-balance">Balance: <%= "$ #{current_user.balance}" %> </li>
      <button class="btn btn-danger"><%= link_to "Signout", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Signout?"} %></button>
    </ul>
  </nav>
</header>
