<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, autocomplete: "new-password" %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
    <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Change Password" %>
  </div>
<% end %>

