<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <div class="form-field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <% @user.errors.full_messages_for(:first_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <% @user.errors.full_messages_for(:last_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <% if user.new_record? %>
    <div class="form-field">
      <%= form.label :email %>
      <%= form.email_field :email %>
      <% @user.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :balance %>
    <%= form.number_field :balance, step: 0.01 %>
    <% @user.errors.full_messages_for(:balance).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br />
  <div>
    <%= form.label :is_admin, "User Type" %>
    <%= form.select :is_admin, [["Trader", false], ["Admin", true]] %>
    <% @user.errors.full_messages_for(:is_admin).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br />
  <div>
    <%= form.submit @user.persisted? ? "Update User" : "Create User", class: "btn btn-success" %>
  </div>
<% end %>
