<%= form_with model: transaction, url: trader_transactions_path, local: true do |form| %>
  <%= form.label :symbol %>
  <%= form.select :symbol, symbols.collect { |name, symbol| [name, symbol] }, prompt: "Select a Stock" %>

  <div id="stock_price" style="margin-top: 10px;"></div>

  <%= form.label :shares %>
  <%= form.number_field :shares, step: 0.01, min: 0.01 %>

  <%= form.label :action_type %>
  <%= form.select :action_type, options_for_select([['Buy', 'buy'], ['Sell', 'sell']]), prompt: "Select Action" %>

  <%= form.submit "Submit" %>
<% end %>
