<h3>New Transaction</h3>
<%= render "trader/transactions/form", transaction: @transaction, symbols: @symbols %>

<br />

<h3>Transaction History</h3>
<div>
  <% if @transactions.any? %>
    <ul>
      <% @transactions.each do |txn| %>
        <li><%= txn.symbol %>/USDT</li>
        <li><%= txn.shares %></li>
        <li>USD <%= txn.price %></li>
        <li>USD <%= txn.total %></li>
        <li><%= txn.created_at.strftime("%b %d, %Y at %-I:%M %p") %></li>
        <li>
          <% if txn.action_type == "buy" %>
            <span style="color: green; font-weight: 900;"><%= txn.action_type.upcase %></span>
          <% else %>
            <span style="color: red; font-weight: 900;"><%= txn.action_type.upcase %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><em>No transactions.</em></p>
  <% end %>
</div>
